{% load static %}
<section class="bg-heading h-screen w-screen overflow-x-hidden max-w-screen  items-center flex flex-col" style="z-index: 10;">
    <div class="mission_arc left-0 absolute -z-20 md:z-0">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="248.857px" height="417.031px"
             viewBox="339.744 123.173 248.857 417.031" enable-background="new 339.744 123.173 248.857 417.031"
             xml:space="preserve">
                <g id="Group_11058" transform="matrix(1, -0.017, 0.017, 1, -7.695, 2.5)">
                    <g id="Group_11056" transform="matrix(-0.309, 0.951, -0.951, -0.309, 643.444, 162.52)">
                        <path fill="#243746" d="M171.596,112.162c-0.071,0.03-0.142,0.06-0.212,0.089l-1.652,0.694c-0.532,0.224-0.952,0.651-1.17,1.185
			c-0.449,1.112,0.088,2.375,1.2,2.825c0.214,0.086,0.44,0.139,0.67,0.152c0.337,0.023,0.675-0.031,0.986-0.163l1.662-0.699
			c22.766-9.756,47.526-13.959,72.236-12.264c58.077,3.854,109.195,39.305,133.273,92.046c1.441-0.335,2.885-0.661,4.332-0.98
			C346.867,114.743,253.036,77.646,171.596,112.162z"/>
                        <path fill="#FF4D00" d="M262.272,77.489c-0.016,0.046-0.031,0.093-0.045,0.14l-0.017,0.052c-0.513,1.763,0.453,3.615,2.192,4.202
			c13.571,4.67,26.621,10.737,38.939,18.102c36.962,21.935,66.053,54.931,83.199,94.276c2.284-0.487,4.572-0.963,6.863-1.435
			c-17.636-41.244-47.931-75.839-86.543-98.75c-12.728-7.61-26.211-13.875-40.235-18.698
			C264.842,74.76,262.893,75.704,262.272,77.489z"/>
                        <path fill="#F7F7F7" d="M0.718,102.952c-1.158,1.507-0.875,3.667,0.631,4.825c1.507,1.158,3.666,0.875,4.824-0.632
			C61.006,35.838,149.175-1.551,238.553,8.601c7.734,0.908,15.307,2.141,22.855,3.718l1.059,0.227
			c0.896,0.181,1.827,0.004,2.592-0.496c0.77-0.495,1.304-1.282,1.48-2.179l0.002-0.001c0.303-1.445-0.35-2.922-1.624-3.669
			c-0.319-0.188-0.668-0.32-1.032-0.395l-1.068-0.225C164.011-14.865,62.21,22.956,0.718,102.952z"/>
                        <path fill="#F7F7F7" d="M290.038,19.991c0.226,0.135,0.467,0.243,0.718,0.323l1.068,0.322
			c16.399,5.579,32.195,12.794,47.149,21.534c46.098,26.937,82.544,67.704,104.169,116.521c2.559,5.727,4.896,11.547,7.031,17.44
			c2.062-1.034,4.1-2.137,6.11-3.317c-2.096-5.714-4.377-11.362-6.861-16.923C427.218,105.764,389.792,63.9,342.454,36.24
			c-15.361-8.987-31.591-16.398-48.442-22.124l-1.22-0.376c-1.53-0.479-3.188,0.165-3.995,1.552
			C287.841,16.932,288.397,19.037,290.038,19.991z"/>
                    </g>

                    <ellipse id="Ellipse_20" transform="matrix(-0.9999 -0.017 0.017 -0.9999 1085.427 852.452)"
                             fill="#f7f7f7" cx="546.336" cy="421.614" rx="4" ry="4"/>
                </g>
            </svg>
    </div> 
    <div class="grid grid-cols-1 gap-y-1 md:grid-cols-3 w-[80vw] md:gap-x-12 mx-auto">
        <div class="mission_div ">
            <div class="mission_icon">
                <img src="{% static 'img/aboutus_mission1.svg' %}"  alt="">
            </div>
            <p>Enable operators to enrich the communication needs of customers by accelerating the roll-out of future technologies (e.g. 5G, IoT) and supporting the Vision 2030 Digital transformation</p>
        </div>
        <div class="mission_div">
            <div class="mission_icon">
                <img src="{% static 'img/aboutus_mission2.svg' %}"  alt="">
            </div>
            <p>Drive MNOs, the Government and Businesses to operate more effectively and cost efficiently by enhancing colocation and realizing operational efficiencies</p>
        </div>
        <div class="mission_div">
            <div class="mission_icon">
                <img src="{% static 'img/aboutus_mission3.svg' %}"  alt="">
            </div>
            <p>
                Make a positive impact on the local community and ensure environmental sustainability by contributing to community development and promoting renewable energies
            </p>
        </div>
    </div>
    <h1 class="text-white text-4xl font-bold my-8">What We Do</h1> 
    <p class="text-white w-[60vw] text-wrap mx-auto text-center">TRES’s “raison d’être” is “getting any Rwandan, and African in general, having access to a flawless and affordable connectivity.”</p>

    <div class="grid grid-cols-1 md:grid-cols-4 items-start my-12 w-[80vw] gap-x-4 gap-y-2  mx-auto">
        <div class="service_div border border-white md:border-0 rounded-lg">
            <img src="{% static 'img/about1.png' %}" alt="">
            <p>Building and managing towers on demand on behalf of network operators</p>
        </div>
        <div class="service_div border border-white md:border-0 rounded-lg">
            <img src="{% static 'img/about2.png' %}" alt="">
            <p>Leasing space on our network of towers to telecom companies, government and private entities</p>
        </div>
        <div class="service_div border border-white md:border-0 rounded-lg">
            <img src="{% static 'img/about3.png' %}" alt="">
            <p>Providing In-Building-Solution “IBS” to boost superior internal coverage with cutting-edge technologies</p>
        </div>
        <div class="service_div border border-white md:border-0 rounded-lg">
            <img src="{% static 'img/about4.png' %}" alt="">
            <p>Offering operations and maintenance services, including preventive maintenance, fault management, energy management and other services</p>
        </div>
    </div>
    <p class="text-neutral-200 text-center">We also plan to extend our offerings to further advanced services such as Small Cells, Fiber to The Tower “FTTT” and Smart City Infrastructure</p>
</section>