{% extends 'base.html' %} {% load static %} {% block Content %}
<div
  class="h-[80vh] min-h-[60vh] w-full text-white relative fixed bg-cover flex flex-col justify-center contact_Us"
>
  <div class="mx-20 text-start flex flex-col gap-y-8">
    <h1 class="text-3xl text-white font-bold">Get in Touch With Our Team</h1>
    <p>
      Our support team guarantees a response in short time and available to
      assist you with any inquiries.
    </p>
    {% comment %} <button
      class="rounded-full border border-red-600 px-5 w-fit hover:bg-red-600 transition-all duration-3000 hover:border-0 py-2"
    >
      Start Now
    </button> {% endcomment %}
  </div>
</div>
{% include './Sections/ContactUsSections/contact.html' %}
{% include './Sections/ContactUsSections/ContactForm.html' %}
{% include './Sections/WhistleBlwoing/follow_us.html' %}
<section>{% include './Sections/footer.html' %}</section>
{% endblock Content %}
