{% extends 'base.html' %} 
{% load static %}
{% block Content %}
<div class="relative min-h-screen   font-sans">
   
<section class="max-w-screen overflow-x-hidden" id="hero_section">{% include './Sections/HeroSection.html' %}</section>
<section id="learn_more" class="learn_more max-w-screen overflow-x-hidden ">
   {% include './Sections/LearnMore.html' %}
</section>
<section id="team" class="md:py-20">
   {% include './Sections/Team.html' %}
</section>
<section id="testimonials">
   {% include './Sections/Success.html' %}
</section>
{% comment %} <section>
   {% include './Sections/Ourservices.html' %}
</section>
<section class="relative min-h-screen">
   {% include './Sections/Connect.html' %}
</section>

<img src="{% static 'img/towesky.jpg' %}" class="w-screen h-[50vh]" alt="">

<section>
   {% include './Sections/Blog.html' %}
</section> {% endcomment %}
<div class="flex flex-col items-center justify-center">
   <div class="flex flex-col items-center relative">
       
       {% comment %} <div class="w-12 bg-my_orange h-[5px] rounded-full absolute bottom-0 right-0"></div> {% endcomment %}
       <div class="w-[10vw] h-[10vw] z-10 rounded-full flex flex-col items-center justify-center overflow-hidden bg-white shadow-sm shadow-black">
           <img src="{% static 'img/whistle.png' %}"  class="w-[7vw] h-[7vw]" alt="">
       </div>
       
   </div>
   <a href="{% url 'whistle_blowing' %}">
      <h2 class="font-bold text-my_orange">Whistle Blowing</h2>
   <p class="text-heading">info@tres.rw.</p>
   </a>
</div>
<section class="mt-20">
   {% include './Sections/footer.html' %}
</section>
</div>
{% endblock Content %}
