{% extends 'base.html' %} 
{% load static %}
{% block Content %}
<div class="relative min-h-screen   font-sans">
   
<section class="max-w-screen overflow-x-hidden" id="hero_section">{% include './Sections/HeroSection.html' %}</section>
<section id="learn_more" class="learn_more max-w-screen overflow-x-hidden ">
   {% include './Sections/LearnMore.html' %}
</section>
<section id="team" class="py-20">
   {% include './Sections/Team.html' %}
</section>
{% comment %} <section>
   {% include './Sections/Ourservices.html' %}
</section>
<section class="relative min-h-screen">
   {% include './Sections/Connect.html' %}
</section>

<img src="{% static 'img/towesky.jpg' %}" class="w-screen h-[50vh]" alt="">
<section id="testimonials">
   {% include './Sections/Success.html' %}
</section>
<section>
   {% include './Sections/Blog.html' %}
</section> {% endcomment %}
<section class="mt-20">
   {% include './Sections/footer.html' %}
</section>
</div>
{% endblock Content %}
