{% load static %}
<section class="flex flex-col py-20">
    <div class="w-[90vw] md:w-[80vw] mx-auto grid grid-cols-2 md:flex md:flex-row items-center justify-between">
       <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center relative">
            <div class="w-1/2 bg-heading h-[5px] rounded-full absolute top-0 left-0"></div>
            <div class="w-1/2 bg-heading h-[5px] rounded-full absolute bottom-0 right-0"></div>
            <div class="w-[10vw] h-[10vw] z-10 rounded-full flex flex-col items-center justify-center overflow-hidden bg-white shadow-sm shadow-black">
                <img src="{% static 'img/location.svg' %}"  class="w-[7vw] h-[7vw]" alt="">
            </div>
            
        </div>
        <h2 class="font-bold text-my_orange text-center">Our Location</h2>
            <p class="text-heading text-center">KG 167 ST, Kigali, Rwanda.</p>
       </div>

       <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center relative">
            <div class="w-[100%] bg-my_orange h-[5px] rounded-full absolute top-4 left-0"></div>
            {% comment %} <div class="w-12 bg-my_orange h-[5px] rounded-full absolute bottom-0 right-0"></div> {% endcomment %}
            <div class="w-[10vw] h-[10vw] z-10 rounded-full flex flex-col items-center justify-center overflow-hidden bg-white shadow-sm shadow-black">
                <img src="{% static 'img/whistle.png' %}"  class="w-[7vw] h-[7vw]" alt="">
            </div>
            
        </div>
        <h2 class="font-bold text-my_orange">Whistle Blowing</h2>
            <p class="text-heading">info@tres.rw.</p>
       </div>

       <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center relative">
            <div class="w-1/2 bg-heading h-[5px] rounded-full absolute top-0 left-0"></div>
            <div class="w-1/2 bg-heading h-[5px] rounded-full absolute bottom-0 right-0"></div>
            <div class="w-[10vw] h-[10vw] z-10 rounded-full flex flex-col items-center justify-center overflow-hidden bg-white shadow-sm shadow-black">
                <img src="{% static 'img/phone.png' %}"  class="w-[7vw] h-[7vw]" alt="">
            </div>
            
        </div>
        <h2 class="font-bold text-my_orange">Contact Number</h2>
            <p class="text-heading">+250788310255</p>
       </div>


       <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center relative">
            <div class="w-1/2 bg-my_orange h-[5px] rounded-full absolute top-0 left-0"></div>
            <div class="w-1/2 bg-my_orange h-[5px] rounded-full absolute bottom-0 right-0"></div>
            <div class="w-[10vw] h-[10vw] z-10 rounded-full flex flex-col items-center justify-center overflow-hidden bg-white shadow-sm shadow-black">
                <img src="{% static 'img/email.svg' %}"  class="w-[7vw] h-[7vw]" alt="">
            </div>
            
        </div>
        <h2 class="font-bold text-my_orange">Email</h2>
            <p class="text-heading">info@tres.rw</p>
       </div>


       
    </div>
</section>