{% load static %}
<section class="flex flex-col">
  <div
    class="flex md:flex-row flex-col items-center gap-x-5 mx-auto w-[80vw] relative py-20"
  >
    <img
      src="{% static 'img/team1.jpeg' %}"
      class="flex-1 md:w-[40vw] md:h-[40vh] w-[90vw] mx-auto rounded-lg"
      alt=""
    />
    <div
      class="relative flex-1 flex flex-row  item-center justify-center gap-x-6"
    >
      <div class="hidden md:flex h-[20vh] w-[4vw] rounded-full bg-my_orange"></div>
      <div class="flex flex-col gap-y-4">
        <h1 class="text-3xl text-my_orange font-bolg">Tres Career</h1>
        <p>
          At Tres, we are focused on building and managing world-class
          telecommunications infrastructure to support the growth of the
          industry in Saudi Arabia. We are committed to providing our customers
          with the highest quality services, and we are looking for talented
          individuals to join our team and help us achieve our goals. <br />
          <br />
          If you are passionate about telecommunications and want to be part of
          a company that is shaping the future of the industry in Saudi Arabia,
          we invite you to explore our career opportunities and join the Tres
          team. <br />
          <br />
          Joining Tres means joining a dynamic and innovative team that is
          dedicated to building and managing world-class telecommunications
          infrastructure in Saudi Arabia. Tres is uniquely positioned to shape
          the future of the industry and support its growth in Saudi Arabia.
        </p>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row-reverse justify-center items-center gap-x-5 mx-auto w-[80vw] relative py-20"
  >
    <img
      src="{% static 'img/team2.jpeg' %}"
      class="flex-1 w-[90vw] mx-auto md:w-[40vw] h-[40vh] object-cover rounded-lg"
      alt=""
    />
    <div
      class="relative flex-1 flex flex-row item-center justify-center gap-x-6"
    >
      <div class="h-[20vh] w-[4vw] rounded-full bg-my_orange"></div>
      <div class="flex flex-col gap-y-4">
        <h1 class="text-3xl text-my_orange font-bolg">TRES’s Environment</h1>
        <p>
          At Tres, we are committed to providing a supportive and inclusive
          work environment that fosters creativity, innovation, and
          collaboration. We value diversity and encourage our employees to
          explore new ideas and approaches. We provide our employees with the
          resources they need to thrive both professionally and personally and
          are dedicated to supporting their growth and development. Join our
          team and be part of a dynamic and rewarding work environment that is
          shaping the future of the telecommunications industry in Saudi Arabia.
        </p>
      </div>
    </div>
  </div>
</section>
