<section class="flex flex-col py-10">
  <div class="w-[90vw] flex flex-col mx-auto items-center justify-center">
    <h1 class="text-4xl text-my_orange font-bold">Tips & Advice</h1>
    <div class="flex flex-col items-center justify-center w-[98%] md:w-[70vw] mx-auto bg-white md:px-4 px-2 max-w-[90vw] py-4 rounded-xl my-5">
        <div class="tip group flex flex-col gap-y-5">
            <button class="group flex flex-row items-center justify-between bg-white shadow-sm shadow-black rounded-xl w-[100%] md:w-full py-4 px-4">
                <h2 class="text-xl font-bold text-heading transition-colors group-hover:text-my_orange">Tres Benefits</h2>
                <div class="relative w-7 h-7 bg-heading/20 flex flex-col items-center justify-center rounded-full group-hover:bg-my_orange/20">
                    <!-- Down Arrow -->
                    <i class="fa fa-chevron-down text-heading group-hover:text-my_orange absolute top-[25%] left-[20%] inset-0 transform transition-all duration-300 opacity-100 scale-y-100 group-hover:opacity-0 group-hover:scale-y-0" aria-hidden="true"></i>
                    
                    <!-- Up Arrow -->
                    <i class="fa fa-chevron-up text-heading group-hover:text-my_orange absolute top-[25%] left-[20%] inset-0 transform transition-all duration-300 opacity-0 scale-y-0 group-hover:opacity-100 group-hover:scale-y-100" aria-hidden="true"></i>
                </div>
            </button>
            <p class="max-h-0 scale-y-0 opacity-0 overflow-hidden transition-[max-height,opacity] duration-500 ease-in-out group-hover:max-h-fit py-2 group-hover:scale-y-100 group-hover:opacity-100">
              TAWAL is the leading company in the Middle East in the field of
              telecommunications infrastructure and information technology, serving
              a wide range of customers including telecommunications service
              providers and others. Training with TAWAL will give you the
              opportunity to work with an exceptional and experienced team in
              various departments of TAWAL, as well as providing practical and
              knowledge-based experiences.
            </p>
        </div>
        <div class="tip group flex flex-col gap-y-5 py-4">
            <button class="group flex flex-row items-center justify-between bg-white shadow-sm shadow-black rounded-xl w-full py-4 px-4">
                <h2 class="text-xl font-bold text-heading transition-colors group-hover:text-my_orange">Tres Benefits</h2>
                <div class="relative w-7 h-7 bg-heading/20 flex flex-col items-center justify-center rounded-full group-hover:bg-my_orange/20">
                    <!-- Down Arrow -->
                    <i class="fa fa-chevron-down text-heading group-hover:text-my_orange absolute top-[25%] left-[20%] inset-0 transform transition-all duration-300 opacity-100 scale-y-100 group-hover:opacity-0 group-hover:scale-y-0" aria-hidden="true"></i>
                    
                    <!-- Up Arrow -->
                    <i class="fa fa-chevron-up text-heading group-hover:text-my_orange absolute top-[25%] left-[20%] inset-0 transform transition-all duration-300 opacity-0 scale-y-0 group-hover:opacity-100 group-hover:scale-y-100" aria-hidden="true"></i>
                </div>
            </button>
            
                <ul class="list-disc pl-3 max-h-0 scale-y-0 opacity-0 transition-[max-height,opacity] duration-500 ease-in-out group-hover:max-h-96 group-hover:scale-y-100 group-hover:opacity-100">
                    <li>Visit TAWAL's website and learn about its field of work and projects.</li>
                    <li>Read about the field of work of the department in which you will be trained,
                        and prepare your questions and the topics you want to learn.
                    </li>
                    <li>Define your personal goals for the training period so that you can focus on
                        them and make them a priority.
                    </li>
                    <li>Identify the skills you want to develop and work on during the training
                        period.
                    </li>
                    <li>Ask your supervisor about the requirements you need to bring, such as a
                        laptop and other necessary equipment.
                    </li>
                </ul>
            
        </div>
        <div class="tip group flex flex-col items-center justify-center gap-y-2 md:gap-y-5">
            <button class="group flex flex-row items-center justify-between bg-white shadow-sm shadow-black rounded-xl w-full py-4 px-4">
                <h2 class="text-xl font-bold text-heading transition-colors group-hover:text-my_orange">Tres Benefits</h2>
                <div class="relative w-7 h-7 bg-heading/20 flex flex-col items-center justify-center rounded-full group-hover:bg-my_orange/20">
                    <!-- Down Arrow -->
                    <i class="fa fa-chevron-down text-heading group-hover:text-my_orange absolute top-[25%] left-[20%] inset-0 transform transition-all duration-300 opacity-100 scale-y-100 group-hover:opacity-0 group-hover:scale-y-0" aria-hidden="true"></i>
                    
                    <!-- Up Arrow -->
                    <i class="fa fa-chevron-up text-heading group-hover:text-my_orange absolute top-[25%] left-[20%] inset-0 transform transition-all duration-300 opacity-0 scale-y-0 group-hover:opacity-100 group-hover:scale-y-100" aria-hidden="true"></i>
                </div>
            </button>
            <ul class="list-disc md:mx-3 max-h-0 scale-y-0 opacity-0  transition-[max-height,opacity] duration-500 ease-in-out group-hover:max-h-fit flex flex-col px-2 py-2 group-hover:scale-y-100 group-hover:opacity-100">
                <li>Ask your training supervisor all your questions and try to benefit as much
                    as possible from their experience and knowledge.
                </li>
                <li>Take notes on what you learn, and try to summarize and link the information
                    together to create an easy reference for everything you have learned during
                    the training period.
                </li>
                <li>When you learn a new skill, practice it repeatedly and read about it.</li>
                <li>In addition to periodic evaluation by your training supervisor, make sure to
                    evaluate yourself as well, as you are the one who knows your strengths and
                    weaknesses.
                </li>
                <li>Build good relationships in your environment and develop your communication
                    skills during the training period.
                </li>
                <li>Remember that discipline, time management and commitment to ethical and
                    professional standards will achieve the maximum results from the training
                    period.
                </li>
            </ul>
        </div>
        
  </div>
  <div class="w-[90vw] mx-auto bg-my_orange/10 px-4 py-4 flex md:flex-row flex-col gap-y-3 rounded-2xl items-center gap-x-9">
        <div class="flex-1 flex flex-col gap-y-4">
            <h4 class="text-4xl font-bold text-my_orange">Tres Team</h4>
             <p class="text-heading ">
                At Tres, we are committed to providing a supportive and inclusive work environment that fosters creativity, innovation, and collaboration
             </p>
            </div>
  
  <a class="link_button h-fit" href="#">View Jobs</a>
</div>
</section>
