{% load static %}
<section class="flex flex-col py-5 ">
  <div class="w-[80vw] mx-auto items-center justify-center flex flex-col">
    <h1 class="text-4xl text-my_orange font-bold">Values</h1>
    <div class="grid md:grid-cols-5 grid-cols-2 gap-x-1 md:gap-x-2 w-[100%] items-center justify-center relative h-auto">
        <div class="border border-dashed border-my_orange w-[100%] h-[1px] absolute top-[70%] -translate-y-1/2" style=""></div>
      <div class="value group">
        <div class="sms-clipped  ">
            <p>
                We don’t limit ourselves. Our ambition is to always grow and reach
                further, in the way we think and the success we achieve
              </p>
        </div>
        <div class="value_img">
          <img src="{% static 'img/icon-think-big.svg' %}" alt="" />
        </div>
        <h3 class="font-bold text-my_orange text-lg">Think Big</h3>
      </div>
      <div class="value group">
        <div class="sms-clipped  ">
            <p>
                If there’s a better way to do things, we want to find it. We use our curiosity to improve, turning bright ideas into smarter ways of working
              </p>
        </div>
        <div class="value_img">
          <img src="{% static 'img/icon-breath.svg' %}" alt="" />
        </div>
        <h3 class="font-bold text-heading text-lg">Breath Efficiency</h3>
      </div>
      <div class="value group">
        <div class="sms-clipped  ">
            <p>
                Making it happen, hitting our deadlines, delivering on our promises. Our strength lies in the amazing service we deliver and the trust that we build
              </p>
        </div>
        <div class="value_img">
          <img src="{% static 'img/icon-deliver.svg' %}" alt="" />
        </div>
        <h3 class="font-bold text-my_orange text-lg">Deliver Everyday</h3>
      </div>
      <div class="value group">
        <div class="sms-clipped  ">
            <p>
                We stay close to our customers. We anticipate their needs and work together to make their ambitions a reality
              </p>
        </div>
        <div class="value_img">
          <img src="{% static 'img/icon-enable-customer.svg' %}" alt="" />
        </div>
        <h3 class="font-bold text-heading text-lg">Enable Customer</h3>
      </div>
      <div class="value group">
        <div class="sms-clipped  ">
            <p>
                Great things come from a great place to work. Our freedom, energy and spirit empowers us to have fun, learn, grow and be our best
              </p>
        </div>
        <div class="value_img">
          <img src="{% static 'img/icon-fun.svg' %}" alt="" />
        </div>
        <h3 class="font-bold text-my_orange text-lg">Have fun</h3>
      </div>
    </div>
  </div>
</section>
