{% load static %}
<footer style="background-color: #253746;" class="relative w-full py-12 flex flex-col w-full items-center justify-center">
    <!-- Decorative Elements (Hidden on Small Screens) -->
    <div class="w-[10vw] absolute -right-4 top-[50%] opacity-80 h-2 rounded-full bg-my_orange hidden md:block"></div>
    <div class="w-[6vw] absolute -right-4 top-[60%] opacity-80 h-2 rounded-full bg-zinc-300 hidden md:block"></div>
    <div class="w-[14vw] absolute -right-4 top-[70%] opacity-80 h-2 rounded-full bg-my_orange hidden md:block"></div>

    <div class="w-[90%] mx-auto flex flex-col  divide-y divide-gray-600 gap-y-4">
        <!-- Responsive Navigation List -->
        <ul class="flex flex-wrap flex-row w-[100%] mx-auto items-center justify-center gap-3 justify-center md:justify-center text-sm text-white text-center md:text-left overflow-x-auto whitespace-nowrap">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'about_us' %}">About us</a></li>
            <li><a href="{% url 'our_markets' %}">Our Markets</a></li>
            <li><a href="{% url 'solutions' %}">Solutions</a></li>
            {% comment %} <li><a href="#">Sustainability</a></li> {% endcomment %}
            <li><a href="{% url 'join_team' %}">Join Our team</a></li>
            <li><a href="{% url 'blog_list' %}">Media</a></li>
            {% comment %} <li><a href="#">FAQS</a></li> {% endcomment %}
            <li><a href="{% url 'whistle_blowing' %}">WhistleBlower</a></li>
            <li><a href="{% url 'contact' %}">Contact us</a></li>
            {% comment %} <li><a href="#">Brand Guidelines</a></li> {% endcomment %}
            {% comment %} <li><a href="#">Documents</a></li> {% endcomment %}
            {% comment %} <li><a href="#">Privacy Notice</a></li> {% endcomment %}
            
            <!-- Social Media Icons -->
            <li class="flex gap-2 justify-center md:justify-center">
                <a href="#"><img src="{% static 'img/twitter.png' %}" class="w-5 h-5" alt="Twitter"></a>
                <a href="https://www.linkedin.com/company/trust-engineering-solutions-ltd.-tres-ltd-/"><img src="{% static 'img/linkedin.png' %}" class="w-5 h-5" alt="LinkedIn"></a>
            </li>
        </ul>

        <!-- Copyright Text -->
        <p class="text-white text-xs text-center md:text-center uppercase bottom-0 py-2">
            © COPYRIGHT 2025 - ALL RIGHTS RESERVED TRES.COM
        </p>
    </div>
</footer>
