{% load static %}
<section  data-aos="fade-up" data-aos-easing="ease-out-cubic"
data-aos-duration="5000" class="flex flex-col md:py-7  w-full items-center md:h-screen h-auto py-7 nd:py-auto relative">
  <h1 class="text-4xl font-bold my-3" data-aos="fade-left" data-aos-delay="500">OUR SOLUTIONS</h1>
  <div id="svg-animation" style=" z-index: -1000;" class="w-full h-screen absolute z-50">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100vw" height="808.46px" viewBox="73.362 33.662 1148.442 808.46" style="enable-background: new 73.362 33.662 1148.442 808.46" xml:space="preserve">
      <g id="line_1_0">
        <path style="
            fill: none;
            stroke: rgb(255, 77, 0);
            stroke-width: 7;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 0;
            stroke-dasharray: none;
          " d="M131.836,424.965
  c-17.076-33.861-26.694-72.127-26.694-112.64c0-82.911,40.283-156.414,102.344-202.005"></path>
      </g>
      <g id="line_1_1">
        <path style="
            fill: none;
            stroke: rgb(255, 77, 0);
            stroke-width: 7;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 0;
            stroke-dasharray: 251.978px, 261.978px;
          " d="M329.207,69.226
  c5.454-0.629,10.963-1.083,16.525-1.358c82.596-4.088,157.824,32.313,206.439,91.77"></path>
      </g>
      <g id="line_1_2">
        <path style="
            fill: none;
            stroke: rgb(255, 77, 0);
            stroke-width: 7;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 0;
            stroke-dasharray: none;
          " d="M567.168,179.99
  c23.968,36.221,38.825,79.151,41.127,125.676c2.91,58.797-14.696,113.861-46.533,158.25"></path>
      </g>

      <g id="line_2_0">
        <path style="
            fill: none;
            stroke: rgb(255, 77, 0);
            stroke-width: 7;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 0;
            stroke-dasharray: none;
          " d="M146.621,358.715
  c-2.599-13.394-3.961-27.229-3.961-41.383c0-88.402,53.11-164.401,129.163-197.828"></path>
      </g>
      <g id="line_2_1">
        <path style="
            fill: none;
            stroke: rgb(255, 77, 0);
            stroke-width: 7;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 0;
            stroke-dasharray: none;
          " d="M291.857,111.868
  c21.033-6.833,43.482-10.525,66.792-10.525c71.693,0,135.229,34.931,174.515,88.701"></path>
      </g>

      <g id="line_3_0">
        <path style="
            fill: none;
            stroke: rgb(36, 55, 70);
            stroke-width: 6;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 0;
            stroke-dasharray: none;
          " d="M319.063,155.065
  c6.619-2.124,13.47-3.803,20.524-4.999c80.041-13.563,155.922,40.327,169.486,120.367c1.466,8.653,2.145,17.258,2.086,25.74"></path>
      </g>
      <g id="line_4_0">
        <path style="
            fill: none;
            stroke: rgb(36, 55, 70);
            stroke-width: 6;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 0;
            stroke-dasharray: none;
          " d="M952.041,728.611
  c-6.855,1.146-13.877,1.817-21.03,1.979c-81.16,1.856-148.458-62.435-150.313-143.594c-0.2-8.775,0.372-17.386,1.653-25.772"></path>
      </g>
      <path id="line_5_0" style="
          fill: none;
          stroke: rgb(247, 247, 247);
          stroke-width: 6;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-dashoffset: 0;
          stroke-dasharray: none;
        " d="M711.259,672.645
  c-18.667-35.357-29.234-75.652-29.234-118.416c0-60.203,20.945-115.514,55.945-159.043"></path>
      <path id="line_5_1" style="
          fill: none;
          stroke: rgb(247, 247, 247);
          stroke-width: 6;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-dashoffset: 0;
          stroke-dasharray: none;
        " d="M711.259,672.645"></path>
      <path id="line_5_2" style="
          fill: none;
          stroke: rgb(247, 247, 247);
          stroke-width: 6;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-dashoffset: 0;
          stroke-dasharray: none;
        " d="M922.665,807.883
  c-85.174-4.413-159.248-50.784-201.949-118.84"></path>
      <path id="line_5_3" style="
          fill: none;
          stroke: rgb(247, 247, 247);
          stroke-width: 6;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-dashoffset: 0;
          stroke-dasharray: none;
        " d="M936.024,808.229
  c-4.481,0-8.936-0.116-13.359-0.346"></path>
      <path id="line_5_4" style="
          fill: none;
          stroke: rgb(247, 247, 247);
          stroke-width: 6;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-dashoffset: 0;
          stroke-dasharray: none;
        " d="M1152.34,421.031
  c23.896,38.726,37.685,84.352,37.685,133.197c0,78.754-35.841,149.137-92.101,195.726"></path>
      <g id="line_4_1">
        <path style="
            fill: none;
            stroke: rgb(255, 77, 0);
            stroke-width: 7;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-dashoffset: 0;
            stroke-dasharray: none;
          " d="M1144.743,593.328
  c-3,10.923-6.777,21.771-11.358,32.479c-23.158,54.124-63.12,95.897-111.191,121.84"></path>
      </g>
      <circle id="disk_1" style="fill: #f7f7f7" cx="969.024" cy="551.229" r="133"></circle>

      <circle style="fill: #ff4d00" cx="559.744" cy="169.052" r="3.5"></circle>
    </svg>
  </div>
  {% comment %}Slick Container{% endcomment %}
  <div class="slick-container w-[80vw] max-w-[80vw] overflow-x-auto scroll-smooth gap-x-20 items-center no-scrollbar h-[80%] mx-auto flex md:flex-row flex-col gap-y-2 md:gap-y-auto">
    <!-- Slides will be added here -->

    {% comment %} <div id="solution" class="solution1 group md:-translate-y-7 solution overflow-hidden flex flex-col relative md:rounded-full rounded-md md:min-w-[23vw] md:min-h-[23vw] md:w-[23vw] w-[100%] h-fit md:h-[23vw] items-center justify-center group">
      <div class="opacity-0 group-hover:opacity-60 w-[100%] h-[100%] bg-red-800  inset-0 absolute"></div>
      <div class="z-50">
        <h2>O&amp;M AS A SERVICE</h2>
        <p class="group-hover:opacity-100 ">Giving you operation and maintenance solutions on your own
          infrastructure.</p>
      </div>
    </div> {% endcomment %}
    <a href="/solutions/#built_to_suit" id="solution" class="solution2 p-3 md:translate-y-24 solution overflow-hidden flex flex-col relative md:rounded-full rounded-md md:min-w-[23vw] md:min-h-[23vw] md:w-[23vw] w-[100%] h-fit md:h-[23vw] items-center justify-center group">
      <div class="opacity-0 group-hover:opacity-60 w-[100%] h-[100%] bg-red-800 flex flex-col items-center justify-center p-3 inset-0 absolute"></div>
      <h2 class="text-white font-bold">BUILT TO SUIT</h2>
      <p class="group-hover:opacity-100 text-white text-sm md:text-md">Ensuring that you obtain the optimal telecom infrastructure
        solution that you need in order to expand your connectivity and reach remote
        areas.</p>
    </a>
    <a href="/solutions/#built_to_suit"id="solution" class="solution3 p-3 md:-translate-y-7 solution overflow-hidden flex flex-col relative md:rounded-full rounded-md md:min-w-[23vw] md:min-h-[23vw] md:w-[23vw] w-[100%] h-fit md:h-[23vw] items-center justify-center group">
      <div class="opacity-0 group-hover:opacity-60 w-[100%] h-[100%] bg-red-800 flex flex-col items-center justify-center p-3 inset-0 absolute"></div>
      <h2 class="text-white font-bold">CO-LOCATION</h2>
      <p class="group-hover:opacity-100 text-white text-sm md:text-md">Full-fledged eco-friendly solution that enables you to share the
        passive infrastructure by leasing spaces on existing telecom towers enabling you
        to densify your coverage with ease.</p>
    </a>
    <a href="/solutions/#built_to_suit"id="solution" class=" solution1  md:-translate-y-7 solution overflow-hidden flex flex-col relative md:rounded-full rounded-md md:min-w-[23vw] md:min-h-[23vw] md:w-[23vw] w-[100%] h-fit p-3 md:h-[23vw] items-center justify-center group">
      <div class="opacity-0 group-hover:opacity-60 w-[100%] h-[100%] bg-red-800 flex flex-col items-center justify-center p-3 inset-0 absolute"></div>
      <h2 class="text-white font-bold">In-Building Solution (IBS)</h2>
      <p class="group-hover:opacity-100 text-white text-sm md:text-md">Extend your network with the internal coverage at superior quality
        in a cost-effective manner.</p>
    </a>
  </div>
  <div class="flex flex-row gap-x-2"></div>
  

    {% comment %} <button class="prev-btn w-4 h-4 rounded-full bg-gray-900 active" ></button>
    <button class="next-btn w-4 h-4 rounded-full bg-gray-900"></button>
  </div> {% endcomment %}
  {% comment %} <a class="link_button group my-4" href="#">EXPLORE MORE SOLUTIONS <i class="fa fa-chevron-right group-hover:translate-x-2 transition-all ease-in-out duration-5000" aria-hidden="true"></i></a> {% endcomment %}
</section>
<style>
  
</style>

  <script>
    const prevBtn = document.querySelector('.prev-btn');
    const nextBtn = document.querySelector('.next-btn');
    const carousel = document.querySelector('.slick-container');
  
    let scrollAmount = 23 + 20; // Width of each solution + gap
    
    nextBtn.addEventListener('click', () => {
      prevBtn.classList.remove('active');
      nextBtn.classList.add('active')
      carousel.scrollLeft += window.innerWidth +scrollAmount;
    });
  
    prevBtn.addEventListener('click', () => {
      nextBtn.classList.remove('active');
      prevBtn.classList.add('active')
      carousel.scrollLeft -= window.innerWidth+200;
    });
  </script>

