<section id="project-section" class="py-12">
    <div class="container mx-auto">
      <h2 class="text-2xl font-bold text-center mb-6">Our <span class="text-primary">Recent</span> Success</h2>
      <div class="text-center mb-4">
        <button class="category-btn rounded-full py-2 px-4 border border-gray-200 hover:bg-my_orange transition-all duration-5000 hover:text-white hover:border-my_orange" data-category="all">Show All</button>
        <button class="category-btn rounded-full py-2 px-4 border border-gray-200 hover:bg-my_orange transition-all duration-5000 hover:text-white hover:border-my_orange" data-category="recognitions">Recognitions</button>
        <button class="category-btn rounded-full py-2 px-4 border border-gray-200 hover:bg-my_orange transition-all duration-5000 hover:text-white hover:border-my_orange" data-category="projects">Projects</button>
        <button class="category-btn rounded-full py-2 px-4 border border-gray-200 hover:bg-my_orange transition-all duration-5000 hover:text-white hover:border-my_orange" data-category="material_supply">Material Supply</button>
      </div>
      <div id="projects-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {% for project in achievements %}
        <div class="relative group bg-white shadow rounded overflow-hidden">
            <img src="{{project.image.url}}" alt="{{ achievement.title }}" class="w-full h-48 object-cover transition-transform duration-300 group-hover:scale-110">
            <div class="absolute inset-0 bg-black bg-opacity-50 md:opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center">
                <div class="text-center text-white px-4">
                  <h3 class="text-lg font-semibold mb-2">{{ project.title }}</h3>
                  {% comment %} <p class="text-sm">{{ achievement.description }}</p> {% endcomment %}
                </div>
              </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const categoryButtons = document.querySelectorAll('.category-btn');
      const projectsContainer = document.getElementById('projects-container');
    
      categoryButtons.forEach(button => {
        button.addEventListener('click', function () {
          const category = this.getAttribute('data-category');
    
          fetch(`/filter-projects/?category=${category}`)
            .then(response => response.json())
            .then(data => {
              projectsContainer.innerHTML = ''; // Clear previous projects
    
              data.forEach(project => {
                projectsContainer.innerHTML += `
                  <div class="relative group bg-white shadow rounded overflow-hidden">
                    <img src="${project.image}" alt="${project.title}" class="w-full h-48 object-cover transition-transform duration-300 group-hover:scale-110">
                    <div class="absolute inset-0 bg-black bg-opacity-50 md:opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center">
                      <div class="text-center text-white px-4">
                        <h3 class="text-lg font-semibold mb-2">${project.title}</h3>
                      </div>
                    </div>
                  </div>
                `;
              });
            })
            .catch(error => console.error('Error:', error));
        });
      });
    });
    
  </script>
  <style>
    #project-section {
      background: linear-gradient(to bottom,rgba(0, 0, 0, 0.3),rgb(37, 55, 70,0.9), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.5));
    }
    
  </style>
    