{% load static %}
<section class="flex flex-col w-full relative py-6 md:py-14">
    <!-- Decorative Elements (Hidden on Mobile) -->
    {% comment %} <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000"
         class="opacity-60 w-[18vw] h-[5px] rounded-full bg-my_orange absolute top-[30%] "></div>
    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000"
         class="opacity-60 w-[10vw] h-[5px] rounded-full bg-my_orange absolute top-[40%] "></div>
    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000"
         class="opacity-60 w-[18vw] h-[5px] rounded-full bg-gray-100 absolute top-[45%] "></div>
    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000"
         class="opacity-60 w-[8vw] h-[5px] rounded-full bg-my_orange absolute top-[57%] "></div>
    <div data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000"
         class="opacity-60 w-[4vw] h-[5px] rounded-full bg-my_orange absolute top-[62%] "></div> {% endcomment %}

    <div class="w-[90%] mx-auto flex flex-col items-center text-center">
        <h1 class="heading1 py-4">JOIN OUR TEAM</h1>
        <p class="flex flex-col gap-y-2 text-sm sm:text-base">
            <span> We’re looking for passionate people to join us.</span>
            <span>WE THINK BIG, BREATHE EFFICIENCY, DELIVER EVERYDAY, ENABLE CUSTOMERS AND HAVE FUN</span>
            <span> How to maintain that?</span>
        </p>

        <!-- Updated Responsive Grid -->
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 w-full my-12 gap-y-8">
            <!-- ITEM 1 -->
            <div class="border border-my_orange md:border-0 rounded-lg md:rounded-none flex flex-col justify-center gap-y-4 items-center relative">
                <div data-aos="fade-right" data-aos-duration="1000"
                     class="absolute top-[65%] w-full h-[4px] rounded-full bg-heading "></div>
                <h1 class="w-full sm:w-[70%] text-wrap font-bold text-heading text-center">
                    We don’t limit ourselves
                </h1>
                <div class="w-[10vw] h-[10vw] bg-white flex items-center justify-center rounded-full shadow-sm shadow-black z-20 max-w-[100px] max-h-[100px] overflow-hidden">
                    <img src="{% static 'img/team1.svg' %}" class="object-contain w-[6vw] h-[6vw] max-w-[60px] max-h-[60px]" alt="team"/>
                </div>
            </div>

            <!-- ITEM 2 -->
            <div class="border border-my_orange md:border-0 rounded-lg md:rounded-none flex flex-col justify-center gap-y-4 items-center relative">
                <div data-aos="fade-right" data-aos-duration="1000" 
                     class="absolute top-[65%] w-full h-[4px] rounded-full bg-heading "></div>
                <h1 class="w-full sm:w-[70%] text-wrap font-bold text-heading text-center">
                    We use our curiosity to improve
                </h1>
                <div class="w-[10vw] h-[10vw] flex items-center justify-center bg-white rounded-full shadow-sm shadow-black z-20 max-w-[100px] max-h-[100px] overflow-hidden">
                    <img src="{% static 'img/team5.svg' %}" class="object-contain w-[6vw] h-[6vw] max-w-[60px] max-h-[60px]" alt="team"/>
                </div>
            </div>

            <!-- ITEM 3 -->
            <div class="border border-my_orange md:border-0 rounded-lg md:rounded-none flex flex-col justify-center gap-y-4 items-center relative">
                <div data-aos="fade-right" data-aos-duration="1000" 
                     class="absolute top-[65%] w-full h-[4px] rounded-full bg-heading "></div>
                <h1 class="w-full sm:w-[70%] text-wrap font-bold text-heading text-center">
                    We make it happen
                </h1>
                <div class="w-[10vw] h-[10vw] flex items-center justify-center bg-white rounded-full shadow-sm shadow-black z-20 max-w-[100px] max-h-[100px] overflow-hidden">
                    <img src="{% static 'img/team2.svg' %}" class="object-contain w-[6vw] h-[6vw] max-w-[60px] max-h-[60px]" alt="team"/>
                </div>
            </div>

            <!-- ITEM 4 -->
            <div class="border border-my_orange md:border-0 rounded-lg md:rounded-none flex flex-col justify-center gap-y-4 items-center relative">
                <div data-aos="fade-right" data-aos-duration="1000" 
                     class="absolute top-[65%] w-full h-[4px] rounded-full bg-heading "></div>
                <h1 class="w-full sm:w-[70%] text-wrap font-bold text-heading text-center">
                    We stay close to our customers
                </h1>
                <div class="w-[10vw] h-[10vw] flex items-center justify-center bg-white rounded-full shadow-sm shadow-black z-20 max-w-[100px] max-h-[100px] overflow-hidden">
                    <img src="{% static 'img/team3.svg' %}" class="object-contain w-[6vw] h-[6vw] max-w-[60px] max-h-[60px]" alt="team"/>
                </div>
            </div>

            <!-- ITEM 5 -->
            <div class="border border-my_orange md:border-0 rounded-lg md:rounded-none flex flex-col justify-center gap-y-4 items-center relative">
                <div data-aos="fade-right" data-aos-duration="1000" 
                     class="absolute top-[65%] w-full h-[4px] rounded-full bg-heading "></div>
                <h1 class="w-full sm:w-[70%] text-wrap font-bold text-heading text-center">
                    We have fun
                </h1>
                <div class="w-[10vw] h-[10vw] flex items-center justify-center bg-white rounded-full shadow-sm shadow-black z-20 max-w-[100px] max-h-[100px] overflow-hidden">
                    <img src="{% static 'img/team4.svg' %}" class="object-contain w-[6vw] h-[6vw] max-w-[60px] max-h-[60px]" alt="team"/>
                </div>
            </div>
        </div>

        <!-- Call to Action Button -->
        <a href="/team" class="link_button group">
            FIND YOUR FUTURE 
            <i class="fa fa-chevron-right group-hover:translate-x-2 transition-all ease-in-out duration-5000"></i>
        </a>
    </div>
</section>
