{% load static %}
<div>
    <section class="flex flex-col h-[60vh] w-full max-h-[60vh] overflow-hidden">
        <img src="{% static 'img/market.jpg' %}"  class="object-cover h-[60vh] w-full" alt="">
        
    </section>
    <div class="w-[80vw] my-12 mx-auto flex flex-col items-center justify-center gap-y-4">
        <h1 class="heading1">TRES'S MARKET</h1>
        <p class="text-lg">Building on the strong foundations of owning and managing the largest tower site portfolio in the Middle East, Tres has developed an International Expansion Strategy that aims to fulfil our objectives by seizing opportunities of acquiring and building assets worldwide as we remain focused on our objectives and staying true to our core values that guide our every decision.</p>
    </div>
    <img src="{% static 'img/marked_rwanda.svg' %}" class="h-[70vh] w-full" alt="">
</div>